.page {
    max-width: 1440px;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(13, 9, 4);
}

html {
    scroll-behavior: smooth;
}