.header__link {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFFFFF;
    text-transform: uppercase;
    /*max-width: 133px;*/
    /*width: 100%;*/
    width: 133px;
    outline: 1px solid red;
}