.booking__title {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}